<!-- <h4 style="text-align : center;background-color:darkcyan;color: lightyellow;" 
class="lead">Please select a Recipe To Display Details!</h4> -->

<div class="jumbotron" style="background-color: darksalmon;">  
    <h2 class="display-4">Welcome to Hanglar's Faurdou - Your very own RecipeBook</h2>
    <p class="lead">This is the one stop place to list up all your favorite recipes, 
    its making processes, secret ingredients and get shopping!</p>
    <hr class="my-4">
    <p>Please choose a recipe from the list on the left to display its details!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
