<div class="row">
  <div class="col-xs-12">
    <!-- Angular Forms : Template driven approach -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label style="font-size: large;" for="name">Name</label>
          <input
            type="text"
            id="name"
            style="font-weight:300;background-color: rgb(250, 244, 158);
            color: rgba(3, 2, 2, 0.993);"
            class="form-control"
            name="name"
            ngModel
            required
          />
        </div>
        <div class="col-sm-3 form-group">
          <label style="font-size: large;" for="amount">Quantity</label>
          <input
            type="text"
            id="amount"
            style="font-weight:300;background-color: rgb(250, 244, 158);
            color: rgba(3, 2, 2, 0.993);"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[^\-]\d*\s?.*"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" 
          type="submit" 
          [disabled]="!f.valid" 
          >{{ editMode ? 'Update' : 'Add' }}           
          </button>
          <button class="btn btn-danger" 
          type="button" 
          (click)="deleteItem()"
          *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
